<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tripsit.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- TODO: not sure if needed -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/thumbnail"
        android:label="@string/app_name"
        android:theme="@style/LightTheme" >
        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".factsheets.Factsheets"
            android:label="@string/title_activity_factsheets"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wiki.Wiki"
            android:label="@string/title_activity_wiki" >
        </activity>
        <activity
            android:name=".chat.Chat"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".combinations.Combinations"
            android:label="@string/title_activity_combinations" >
        </activity>
        <activity
            android:name=".settings.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>